.subtitle {
    padding: 10px;
}
.label {
    display: block;
    padding: .5em .6em .5em;
}
.margin-r-15 {
    margin-right: 15px;
}
.margin-b-10 {
    margin-bottom: 10px;
}
.margin-b-20 {
    margin-bottom: 20px;
}