/* CSS Document */

* {
	border: 0;
	margin: 0;
	padding: 0;
}
body {
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
}
@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
	url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "MyriadProBold";
	src: url("../fonts/MyriadProBold/MyriadProBold.eot");
	src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
	url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
.container {
	margin: 0 auto;
	padding-top: 42px;
	width: 650px;
}
.user-name {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.user-photo-wrapper {
	margin-bottom: 15px;
	text-align: center;
}
.user-photo {
	border: 1px solid #8f8f8f;
}
.user-profession {
	color: rgba(31,31,31,0.8);
	font-size: 14px;
	margin-bottom: 19px;
}
.user-why-frontend,
.user-contact-information,
.user-feedback {
	border-top: 1px solid rgba(31,31,31,0.2);
	margin-bottom: 19px;
	padding-top: 15px;
}
.user-why-frontend__subtitle,
.user-contact-information__subtitle,
.user-feedback__subtitle {
	font-family: "MyriadProRegular", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 21px;
}
.user-why-frontend__list {
	color: #3b3b3b;
	font-family: "MyriadProRegular", Arial, sans-serif;
	font-size: 14px;
	margin-left: 35px;
}
.user-contact-information__phone,
.user-feedback__text {
	color: #3a3a3a;
	font-family: "MyriadProRegular", Arial, sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
	margin-left: 40px;
}
.user-contact-information__social {
	color: #0056d3;
	font-family: "MyriadProRegular", Arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	margin-left: 40px;
}